.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.flex1 {
    flex: 1;
}

.justify-content-between {
    justify-content: space-between;
}

.pos-relative {
    position: relative;
}

.icon-padding {
    padding: 8px;
}

.cusor-point {
    cursor: pointer;
}

.decoration-none {
    text-decoration: none;
}

.decoration-none:visited,
.decoration-none:active {
    color: inherit;         
    text-decoration: none;
}